In [1]:
import pandas as pd
import datetime
import csv

In [8]:
links = pd.read_csv('links.csv', names=["sentenceId", "translationId"], sep='\t')

In [17]:
links.head()

,sentenceId,translationId,created_at,updated_at
1,1,1276,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
2,1,2481,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
3,1,5350,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
4,1,5972,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
5,1,180624,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922

In [13]:
links['createdAt']= datetime.datetime.now()
links['updatedAt']= datetime.datetime.now()

In [16]:
links.index = range(1, len(links)+1)

In [18]:
links.to_csv('links_formatted.csv')

In [23]:
sentences = pd.read_csv('sentences.csv', names=["tatoebaId", "language", "text"], sep='\t', encoding="utf-8", quoting=csv.QUOTE_NONE)

In [24]:
sentences.head()

   tatoebaId language                    text
0          1      cmn                  我們試試看！
1          2      cmn                 我该去睡觉了。
2          3      cmn                 你在干什麼啊？
3          4      cmn                  這是什麼啊？
4          5      cmn  今天是６月１８号，也是Muiriel的生日！

In [25]:
sentences.index = range(1, len(sentences)+1)

In [26]:
sentences['createdAt']= datetime.datetime.now()
sentences['updatedAt']= datetime.datetime.now()

In [27]:
sentences.to_csv('sentences_formatted.csv')

In [19]:
x = pd.read_csv('sentences_formatted.csv', sep=',')

In [20]:
x.head()

,Unnamed: 0,tatoebaId,language,text,createdAt,updatedAt
0,1,1,cmn,我們試試看！,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485
1,2,2,cmn,我该去睡觉了。,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485
2,3,3,cmn,你在干什麼啊？,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485
3,4,4,cmn,這是什麼啊？,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485
4,5,5,cmn,今天是６月１８号，也是Muiriel的生日！,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485

In [21]:
y = x[(x['language'] == 'fra') | (x['language'] == 'eng')| (x['language'] == 'spa')| (x['language'] == 'jpn')]

In [24]:
y.to_csv('sentences_filtered.csv', index=False)

In [25]:
tatoebaIds = y['tatoebaId'].tolist()

In [32]:
unfilteredLinks = pd.read_csv('links_formatted.csv', sep=',')

In [33]:
unfilteredLinks.head()

,Unnamed: 0,sentenceId,translationId,created_at,updated_at
0,1,1,1276,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
1,2,1,2481,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
2,3,1,5350,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
3,4,1,5972,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
4,5,1,180624,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922

In [35]:
z = unfilteredLinks[unfilteredLinks['sentenceId'].isin(tatoebaIds)]

In [36]:
z.head()

,Unnamed: 0,sentenceId,translationId,created_at,updated_at
12548,12549,1115,136883,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
12549,12550,1115,276353,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
12550,12551,1115,334301,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
12551,12552,1115,367406,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922
12552,12553,1115,472589,2020-05-16 18:30:40.061776,2020-05-16 18:30:40.608922

In [39]:
test = y[y['tatoebaId'] == 1115]

In [40]:
test

,Unnamed: 0,tatoebaId,language,text,createdAt,updatedAt
1080,1081,1115,fra,Lorsqu'il a demandé qui avait cassé la fenêtre...,2020-05-16 18:43:25.159072,2020-05-16 18:43:25.347485

In [ ]:
y.to_csv('sentences_filtered.csv', index=False)